<<<<<<< HEAD
a:link    { text-decoration: underline; color: darkblue; }
a:visited { text-decoration: underline; color: darkblue; }
a:active  { text-decoration: underline; color: blue; }
a:hover   { text-decoration: underline; color: darkblue; }
td { font-size: 8pt; }
th { font-size: 8pt; text-weight: bold; text-align: left; background: lightgrey;}
.xmltag { background: #EEEEEE; }

body
{
	background: white; color:black;
	font-family:Tahoma; font-size:8pt; font-weight:normal;
}

big
{
	font-size: 10pt;
}

/*------------------------------------------------------------------------*/
/* box for c++ (or other) source code                                     */
/*------------------------------------------------------------------------*/
.code
{
	background:lightyellow;
	color:black;
	border-color:black; border-style:solid; border-width:1px;
	padding:4pt;
	margin-left:10pt;
	margin-right:10pt;
	font-family:"Courier New",monospace; font-size:8pt;
	white-space:pre;
	width: 520px;
}
=======
a:link    { text-decoration: underline; color: darkblue; }
a:visited { text-decoration: underline; color: darkblue; }
a:active  { text-decoration: underline; color: blue; }
a:hover   { text-decoration: underline; color: darkblue; }
td { font-size: 8pt; }
th { font-size: 8pt; text-weight: bold; text-align: left; background: lightgrey;}
.xmltag { background: #EEEEEE; }

body
{
	background: white; color:black;
	font-family:Tahoma; font-size:8pt; font-weight:normal;
}

big
{
	font-size: 10pt;
}

/*------------------------------------------------------------------------*/
/* box for c++ (or other) source code                                     */
/*------------------------------------------------------------------------*/
.code
{
	background:lightyellow;
	color:black;
	border-color:black; border-style:solid; border-width:1px;
	padding:4pt;
	margin-left:10pt;
	margin-right:10pt;
	font-family:"Courier New",monospace; font-size:8pt;
	white-space:pre;
	width: 520px;
}
>>>>>>> remotes/origin/Tully
